<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body class="bg-nav">
    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="height: 50px;">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            
            <h1>MoviesHouse</h1>
          </a>
          <button class="btn btn-danger navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 60%;">
            
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search your city" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="" style="font-style: italic;font-size: 80px; margin-top: 30%;color:rgb(82, 190, 233)">Sign up for world of MoviesHouse</h1>
            </div>
            <div class="col-md-4">
                <div class="card mt-100" style="margin-top: 10%; border-color: rgb(6, 177, 245);">
                    <div class="card-body" style="font-size: x-large;">
                        <form  method="post" action="">
                            {{form.hidden_tag()}}
                            <label>First Name</label><br>
                            <div style="margin-top: 5%; margin-left: 15%;">{{form.firstname}}</div>
                            <label>Last Name</label><br>
                            <div style="margin-top: 5%; margin-left: 15%;">{{form.lastname}}</div>
                            <label>Username</label><br>
                            <div style="margin-top: 5%; margin-left: 15%;">{{form.username}}</div>
                            <label>Password</label><br>
                            <div style="margin-top: 5%; margin-left: 15%;">{{form.password}}</div>
                            <label>Age</label><br>
                            <div style="margin-top: 5%; margin-left: 15%;">{{form.age}}</div> 
                            <div style="margin-top: 5%; margin-left: 40%;">{{form.submit}}</div>
                        </form>
                        <p style="margin-top: 10px;"><a href="{{url_for('login')}}">Already a member? Login</a></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>